:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-text-color: rgba(255, 255, 255, 0.87);
  --main-text-color-hover: rgba(255, 255, 255, 1);
  --main-bg-color: #242424;

  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--main-text-color);
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--main-text-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  pointer-events: auto;
}

.title {
  font-size: 4em;
  margin: 0;
  font-weight: 400;
}

.subtitle {
  font-size: 2.5em;
  margin: 0;
  font-weight: 200;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-item {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  border: 1px solid;
  border-radius: 50px;
}

.btn-item:last-child {
  margin-right: 0;
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.btn-item svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: var(--main-text-color);
}

.btn-item svg path {
  fill: var(--main-text-color);
}

.btn-item a {

}